
* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

html {
  --primary-font-color: #514e4e;
  --orange: #EE7D33;
}

#root {
  font-size: 16px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--primary-font-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

body {
  background-image: linear-gradient(var(--orange), #F6B933);
  height: 100vh;
}

h1, hr {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 3rem;;
}

h2 {
  margin: 0.4rem 0 0.4rem 0;
  font-size: 2rem;
  
}

hr {
  width: 500px;
  height: 1px;
  background-color: #fff;
  border-style: none;
  border-radius: 10%;
}

hr.divider {
  background-color: var(--orange);
  width: 100%;
}

.city-card {
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 1rem 2rem 1rem 2rem;
}

.cities {
  margin: 0 auto;
  width: 300px;
}
.cities h2 {
  color: #fff;
}
.cities table {
  font-size:11px;
}
.cities th {
  font-weight: normal;
}
.cities td {
  font-weight: 800;
}

.arrow {
  color: var(--orange);
  font-weight: bold;
}

p {
  margin: 0;
}

.search-field {
  margin: 1rem 0 3rem 0;
  width: 100%;
}
#search-input {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.2rem;
  color: #796f6f;
}

.address {
  font-size: 0.8rem;
  font-weight: bold;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  column-gap: 0;
  row-gap: 0.8rem;
}
.weather-details div {
  width: 130px;
}
.week-wrapper {
  
}

ul.weather-days {
  display: flex;
  gap: 0.6rem;
  list-style: none;
  padding: 0;
}

.weather-days ul {
  list-style: none;
}
.weather-days li {
  flex: 0 0 auto;
  font-weight: bold;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

.weekday {
  text-transform: capitalize;
}

.weather-days .minmax {
  font-size:0.7rem;
  color: var(--orange);
}