#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: linear-gradient(#EE7D33, #F6B933);
  height: 100vh;

  
}

h1, hr {
  color: #fff;
}

hr {
  width: 500px;
  height: 1px;
  background-color: #fff;
  border-style: none;
  border-radius: 10%;
}

.date-card {
  background-color: #fff;
  width: 400px;
  height: 250px;
  margin: 0 auto;
}

.cities {
  margin: 0 auto;
  width: 300px;
}
.cities h2 {
  color: #fff;
}
.cities table {
  font-size:11px;
}
.cities th {
  font-weight: normal;
}
.cities td {
  font-weight: 800;
}

.arrow {
  color: #EE7D33;
  font-weight: bold;
}

p {
  margin: 0;
}